# Virtual environments
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Ruff
.ruff_cache/

# MyPy
.mypy_cache/

# Pytest
.pytest_cache/

# Coverage
.coverage
.coverage.*
htmlcov/

# Build artifacts
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment variables
.env
.env.*

# Type checker
.pyre/

# tox/nox
.tox/
.nox/

# Node
node_modules/

# test coverage
coverage/

# Vitest cache
.vitest/

# npm logs
npm-debug.log*

#Playwright
test-results/
playwright-report/